<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{fragments/fragment::html_head}"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<!-- nav bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" th:fragment="nav-top">
    <a class="navbar-brand" href="/">VANHCINEMA</a>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <div th:if="${session.jwtResponse == null}">

            </div>
            <div th:if="${session.jwtResponse != null}">
                <li class="nav-item">
                    <a class="nav-link" href="/tickets/history">Lịch sử mua vé</a>
                </li>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/">Liên hệ</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <th:block th:if="${session.jwtResponse == null}">
                <li class="nav-item btn btn-primary" data-toggle="modal" data-target="#modalLoginForm">
                    Đăng nhập
                </li>
                <li class="nav-item btn btn-info" data-toggle="modal" data-target="#modalRegisterForm">
                    Đăng ký
                </li>
            </th:block>
            <th:block th:if="${session.jwtResponse != null}">
                <li class="nav-item" th:style="'color: gold'" th:text="${session.jwtResponse.name}">
                </li>
                <li class="nav-item">
                    <a href="/account/sign-out" class="btn btn-danger sign-out">Đăng xuất</a>
                </li>
            </th:block>
        </div>
    </div>
</nav>
<body th:fragment="nav-body">
<!-- login modal -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/account/login" method="post">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Đăng nhập</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div th:if="${loginError != null}">
                        <p style="color: red"><i th:text="${loginError}" class="loginError"></i></p>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input name="username" type="text" id="defaultForm-email" class="form-control validate"
                              />
                    </div>

                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Mật khẩu</label>
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input name="password" type="password" id="defaultForm-pass" class="form-control validate"
                              />
                    </div>
                </div>
                <div class="modal-header d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block" >Đăng Nhập</button>
                </div>
            </form>
            <div class=" d-flex justify-content-center">
                Chưa có tải khoản?
            </div>
            <div class="modal-header d-flex justify-content-center">
                <button id="btn-register" class="btn btn-info btn-block">Đăng Ký</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">

</div>
<!-- end of login modal -->

<!-- register up modal -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/account/register" method="post" th:object="${user}" class="form-register">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Đăng ký</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <p><i style="color: red" th:text="${registerError}"></i></p>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Họ tên</label>
                        <i class="fas fa-user prefix grey-text"></i>
                        <input th:field="*{fullName}" type="text" id="orangeForm-name"
                               class="form-control validate" />
                        <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error" style="color: red"></div>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input th:field="*{username}" type="text" id="orangeForm-email"
                               class="form-control validate" />
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error" style="color: red"></div>
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Mật khẩu</label>
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input th:field="*{password}" type="password" id="orangeForm-pass"
                               class="form-control validate" />
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error" style="color: red"></div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary btn-block">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of sign up modal -->

<script>
   $("#btn-register").on('click', function () {
       $("#modalLoginForm").modal("hide")
       $(".modal-backdrop").css("display","none")
       $("#modalRegisterForm").modal("show")
   })
</script>
</body>
</html>
