<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:insert="~{fragments/fragment::html_head}"></head>
    <title>Chọn phòng</title>
</head>
<body>
    <div th:replace="~{fragments/header::nav-top}">
    </div>
    <div th:replace="~{fragments/header::nav-body}">
    </div>
    <br>
    <br>
    <br>

    <h2 class="container">Chọn Phòng</h2>
    <div class="d-flex justify-content-between flex-wrap container">
        <div th:each="room : ${listRooms}" class="card branch-item" style="width:500px; margin-bottom:50px">
            <img th:src="${room.imgURL}" alt="Card image" style="width:100%" class="card-img-top img-branch" />
            <div class="card-body">
                <h4 th:text="${room.name}" class="card-title"></h4>
                <p class="card-text" th:text="'Sức chứa: ' + ${room.capacity} + ' người'"></p>
                <a th:href="@{'seat-selection?movieId=' + ${session.movieId} + '&branchId=' + ${session.branchId} + '&startDate=' + ${session.startDate} + '&startTime=' + ${session.startTime} + '&roomId=' + ${room.id}}"
                   class="btn btn-outline-danger btn-block">Chọn</a>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer::footer}">
    </div>
</body>
</html>